{% include base_path %}

<header class="site-header">
  <div class="container">
    <a href="{{ base_path }}/" class="site-logo">{{ site.author.name }}</a>
    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = base_path %}
        {% endif %}
        <a href="{{ domain }}{{ link.url }}" class="nav-link">{{ link.title }}</a>
      {% endfor %}
    </nav>
    <button class="nav-toggle" aria-label="Toggle navigation">
      <span></span>
      <span></span>
    </button>
  </div>
</header>
