---
layout: default
---

{% include base_path %}

<div class="container">
  {% if page.author_profile and page.url == "/" %}
    {% include sidebar.html %}
  {% endif %}

  <article class="page-article">
    {% unless page.url == "/" %}
      <header class="article-header">
        {% if page.title %}<h1 class="article-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
        {% if page.date and page.url != "/" %}
          <time class="article-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %Y" }}</time>
        {% endif %}
        {% if page.excerpt and page.url != "/" %}
          <p class="article-excerpt">{{ page.excerpt | markdownify | strip_html | strip_newlines | truncate: 200 }}</p>
        {% endif %}
      </header>
    {% endunless %}

    <div class="article-content">
      {{ content }}
    </div>
  </article>
</div>
